<app-header></app-header>
<div class="row mt-4">
  <div class="col"></div>
  <div class="col-8 bg-light ">

    <form [formGroup]="form" (submit)="enviarData()">
      <div class="mb-3 row">
        <div class="col-sm-2"></div>
        <h1 class="col-sm-10">Formulario de Información Corporativa</h1>
      </div>

      <div class="row mb-3">
        <label for="inputIdEmpresa" class="col-sm-2 col-form-label">NIT</label>
        <div class="col-sm-10">
          <input formControlName="idEmpresa" type="number" class="form-control" id="inputIdEmpresa" >
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input formControlName = "nombre" type="text" class="form-control" id="inputNombre">
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputDir" class="col-sm-2 col-form-label">Dirección</label>
        <div class="col-sm-10">
            <input formControlName="dir" type="text" class="form-control" id="inputDir">
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputMision" class="col-sm-2 col-form-label">Misión</label>
        <div class="col-sm-10">
            <textarea style="resize: none" formControlName="mision" class="form-control" id="inputMision"
                rows="3"></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputVision" class="col-sm-2 col-form-label">Visión</label>
        <div class="col-sm-10">
            <textarea style="resize: none" formControlName="vision" class="form-control" id="inputVision"
                rows="3"></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputCorreo" class="col-sm-2 col-form-label">Correo</label>
        <div class="col-sm-10">
          <input formControlName="correo" type="email" class="form-control" id="inputCorreo" >
        </div>
      </div>

    <div class="row mb-3">
        <label for="inputTelefono" class="col-sm-2 col-form-label">Telefono</label>
        <div class="col-sm-10">
          <input formControlName="telefono" type="number" class="form-control" id="inputTelefono" >
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputDescripcion" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-10">
            <textarea style="resize: none" formControlName="descripcion" class="form-control" id="inputDescripcion"
                rows="3"></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputImagen" class="col-sm-2 col-form-label">Imagen</label>
        <div class="col-sm-10">
          <input formControlName = "url_imagen" type="text" class="form-control" id="inputImagen">
        </div>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">Agregar Información</button>
        <div class="col-sm-0"></div>
      </div>
    </form>
  </div>
  <div class="col"></div>
</div>

